{% extends 'base.html' %}
{% block content %}
<h2>Contact Me</h2>
<div class="card p-4 shadow-sm">
  <p><strong>Email:</strong> <a href="mailto:jgunjan388@gmail.com">jgunjan388@gmail.com</a></p>
  <p><strong>Phone:</strong> +91-7988646603</p>
  <p><strong>GitHub:</strong> <a href="https://github.com/GunjanJ105" target="_blank">github.com/GunjanJ105</a></p>
  <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/gunjan-jain-5741682b1" target="_blank">linkedin.com/in/gunjan-jain</a></p>
</div>
{% endblock %}
