{% extends 'base.html' %}
{% block content %}
<h2>Education</h2>
<ul class="list-group">
  <li class="list-group-item">
    <strong>Chandigarh University, Punjab</strong><br>
    B.Tech - Computer Science and Engineering (2022-2026)
  </li>
  <li class="list-group-item">
    <strong>D.A.V Centenary Public School, Rohtak</strong><br>
    XII – CBSE BOARD – 85.33% (2021-2022)
  </li>
  <li class="list-group-item">
    <strong>D.A.V Centenary Public School, Rohtak</strong><br>
    X – CBSE BOARD – 81.33% (2019-2020)
  </li>
</ul>
{% endblock %}
